/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.container-title {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.section {
  padding: 96px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-aligement {
  -ms-flex-align: end;
      align-items: flex-end;
}

.btn-one {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-two {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);
}

.btn-three {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(90deg, #ff5252 50%, transparent 50%);
}

.btn-four {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);
}

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: #0097e6;
}

.btn:hover {
  background-position: 0 100%;
  color: #ffffff;
}

.btn-one:hover {
  color: #0097e6;
}

/* Navigation */
.navigation {
  background: #0097e6;
  padding: 12px 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul ul {
  display: none;
  position: absolute;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 0 0;
  /*text-align: center;*/
}

.navigation li {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:hover {
  color: #33d9b2;
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px;
}

.navigation li:hover ul {
  display: block;
}

.navigation ul ul a {
  color: #0097e6;
  display: block;
  padding: 0 24px;
}

.navigation ul ul a:hover {
  color: #33d9b2;
}

/* Splash */
.splash {
  background: #0097e6;
  color: #ffffff;
  min-height: 500px;
  display: -ms-flexbox;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash-inner .page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2;
}

.splash-inner .page-subtitle {
  margin: 24px 0;
  font-weight: 300;
  font-size: 16px;
}

.splash-inner .page-title span {
  font-family: "Signika", sans-serif;
}

/* Skills */
.skills {
  margin: 96px 0;
}

.services ul {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  position: relative;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.services ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.services ul h2 {
  position: absolute;
  opacity: 0.3;
  font-family: "Signika", sans-serif;
  color: #33d9b2;
  font-size: 144px;
  line-height: 1;
  top: -130px;
}

.services ul span {
  font-weight: bold;
}

.services ul p:first-of-type {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 12px 0;
}

.button {
  margin: auto auto 0 0;
}

/* Portfolio */
.portfolio {
  margin: 96px 0;
}

.gallery-left {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  position: relative;
  min-height: 300px;
  margin-bottom: 96px;
  list-style-type: none;
}

.gallery-image {
  position: absolute;
  max-width: 250px;
  height: 100%;
}

.gallery-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 20px;
  right: 0;
  left: 20px;
  bottom: 0;
  background: #33d9b2;
  opacity: 0.3;
  transition: 1s;
}

.gallery-image:hover::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #33d9b2;
  opacity: 0.3;
  transition: 1s;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-description {
  padding: 36px 0 36px 60%;
  text-align: left;
}

.gallery-description span {
  font-weight: bold;
}

/* Contact */
.contact {
  background: #0097e6;
  color: #ffffff;
  padding: 48px 0 96px 0;
}

.contact-form {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
  padding: 0 96px 0 0;
}

.contact-info {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.contact-info span {
  font-size: 20px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  margin: 0 auto 30px;
  background: inherit;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5;
  border: none;
  border-bottom: 5px solid #ffffff;
}

label {
  margin: 0 0 0 7px;
  font-size: 15px;
}

textarea {
  height: 150px;
  resize: none;
}

/* Footer */
.page-footer {
  padding: 48px 0;
  text-align: center;
}

.social-links li {
  position: relative;
  display: inline-block;
  background: #ff5252;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 0;
  margin-right: 10px;
  margin-left: 10px;
  transition: all 0.5s;
}

.social-links li i {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ffffff;
}

.social-links li:hover {
  transform: scale(1.2);
}

/* Media */
/* Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {} */
/* Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {} */
/* Tablets, Ipads (portrait)
@media (min-width: 768px) and (max-width: 1024px) {} */
/* Tablets, Ipads (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {} */
@media (max-width: 767px) {
  .services ul h2 {
    top: -130px;
  }
  .container-inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .gallery-image {
    position: relative;
    max-width: 100%;
    height: 150px;
  }
  .gallery-description {
    padding: 36px 0;
  }
  .contact-info {
    margin-top: 96px;
  }
  .navigation li {
    margin-right: 5px;
  }
  .section {
    padding: 48px 0;
  }
  .splash-inner {
    max-width: 80%;
  }
  .splash-inner .page-title {
    font-size: 54px;
  }
  .container-title {
    font-size: 36px;
  }
  .portfolio {
    margin-bottom: 12px;
  }
  .gallery-left {
    max-width: 85%;
    margin-bottom: 24px;
  }
  .contact-form {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services ul h2 {
    top: -130px;
  }
  .container-inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .portfolio {
    margin-bottom: 12px;
  }
  .gallery-left {
    max-width: 85%;
    margin-bottom: 24px;
  }
  .gallery-image {
    position: relative;
    max-width: 80%;
    height: 150px;
  }
  .gallery-description {
    padding: 36px 0;
  }
  .contact-info {
    margin-top: 96px;
  }
}
/*# sourceMappingURL=style.css.map */