/* Variables */

$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-light: #ffffff;
$color-dark: #2c2c54;

$font-header: "Signika", sans-serif;
$font-text: "Inconsolata", monospace;

$transition: all 1s;

$lines-to-show: 3;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $color-dark;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.container-title {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.section {
  padding: 96px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn-aligement {
  align-items: flex-end;
}

.btn-one {
  border-color: $color-light;
  color: $color-light;
  background-image: linear-gradient(90deg, $color-light 50%, transparent 50%);
}

.btn-two {
  border-color: $color-two;
  color: $color-two;
  background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
}

.btn-three {
  border-color: $color-three;
  color: $color-three;
  background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
}

.btn-four {
  border-color: $color-one;
  color: $color-one;
  background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: $color-one;
}

.btn:hover {
  background-position: 0 100%;
  color: $color-light;
}

.btn-one:hover {
  color: $color-one;
}

.btn-five:hover {
  color: $color-two;
}

/* Navigation */

.navigation {
  background: $color-one;
  padding: 12px 0;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    ul {
      display: none;
      position: absolute;
      background: $color-light;
      left: 50%;
      transform: translateX(-50%);
      padding: 12px 0 0;
      /*text-align: center;*/
    }
  }
  li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
  }
  a {
    text-decoration: none;
    color: $color-light;
    &:hover {
      color: $color-two;
    }
  }
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px;
}

.navigation li:hover ul {
  display: block;
}

.navigation ul ul a {
  color: $color-one;
  display: block;
  padding: 0 24px;
  &:hover {
    color: $color-two;
  }
}

/* Splash */

.splash {
  background: $color-one;
  color: $color-light;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
  .page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
  }
  .page-subtitle {
    margin: 24px 0;
    font-weight: 300;
    font-size: 16px;
  }
}

.splash-inner .page-title span {
  font-family: $font-header;
}

/* Skills */

.skills {
  margin: 96px 0;
}

.services ul {
  flex: 0 0 33.333%;
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  h2 {
    position: absolute;
    opacity: 0.3;
    font-family: $font-header;
    color: $color-two;
    font-size: 144px;
    line-height: 1;
    top: -130px;
  }
  span {
    font-weight: bold;
  }
  p:first-of-type {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 12px 0;
  }
}

.button {
  margin: auto auto 0 0;
}

/* Portfolio */

.portfolio {
  margin: 96px 0;
}

.gallery-left {
  flex: 0 0 50%;
  position: relative;
  min-height: 300px;
  margin-bottom: 96px;
  list-style-type: none;
}

.gallery-image {
  position: absolute;
  max-width: 250px;
  height: 100%;
}

.gallery-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 20px;
  right: 0;
  left: 20px;
  bottom: 0;
  background: $color-two;
  opacity: 0.3;
  transition: 1s;
}

.gallery-image:hover::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $color-two;
  opacity: 0.3;
  transition: 1s;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-description {
  padding: 36px 0 36px 60%;
  text-align: left;
  span {
    font-weight: bold;
  }
}

/* Contact */

.contact {
  background: $color-one;
  color: $color-light;
  padding: 48px 0 96px 0;
}

.contact-form {
  flex: 2 0 0;
  padding: 0 96px 0 0;
}

.contact-info {
  flex: 1 0 0;
  span {
    font-size: 20px;
    font-weight: bold;
  }
}

input,
textarea {
  width: 100%;
  margin: 0 auto 30px;
  background: inherit;
  color: $color-light;
  font-size: 15px;
  line-height: 1.5;
  border: none;
  border-bottom: 5px solid $color-light;
}

label {
  margin: 0 0 0 7px;
  font-size: 15px;
}

textarea {
  height: 150px;
  resize: none;
}

/* Footer */

.page-footer {
  padding: 48px 0;
  text-align: center;
}

.social-links li {
  position: relative;
  display: inline-block;
  background: $color-three;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 0;
  margin-right: 10px;
  margin-left: 10px;
  transition: all 0.5s;
  i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: $color-light;
  }
}

.social-links li:hover {
  transform: scale(1.2);
}

/* Media */

/* Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {} */

/* Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {} */

/* Tablets, Ipads (portrait)
@media (min-width: 768px) and (max-width: 1024px) {} */

/* Tablets, Ipads (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {} */

@media (max-width: 767px) {
  .services ul h2 {
    top: -130px;
  }

  .container-inner {
    flex-direction: column;
  }

  .gallery-image {
    position: relative;
    max-width: 100%;
    height: 150px;
  }

  .gallery-description {
    padding: 36px 0;
  }

  .contact-info {
    margin-top: 96px;
  }

  .navigation li {
    margin-right: 5px;
  }

  .section {
    padding: 48px 0;
  }

  .splash-inner {
    max-width: 80%;
  }

  .splash-inner .page-title {
    font-size: 54px;
  }

  .container-title {
    font-size: 36px;
  }

  .portfolio {
    margin-bottom: 12px;
  }

  .gallery-left {
    max-width: 85%;
    margin-bottom: 24px;
  }

  .contact-form {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services ul h2 {
    top: -130px;
  }

  .container-inner {
    flex-direction: column;
  }

  .portfolio {
    margin-bottom: 12px;
  }

  .gallery-left {
    max-width: 85%;
    margin-bottom: 24px;
  }

  .gallery-image {
    position: relative;
    max-width: 80%;
    height: 150px;
  }

  .gallery-description {
    padding: 36px 0;
  }

  .contact-info {
    margin-top: 96px;
  }
}
